:root {



    --Mobile: 375px;
    --Desktop: 1440px;

    /* ## Colors

### Primary */

    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    /* 
### Neutral */

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    /* 
## Typography

### Body Copy */
    /* 
--Font-size (paragraph): 16px; */
    /* 
### Font */
    /* 
--Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans);
--Weights: 400px, 700px; */

}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 80%;

}

.container {
    margin: 0 auto;
    /* width: 80%; */
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Black);
    padding: 1rem 0 1rem;
}

.menu {
    display: none;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    margin-left: 1rem;
    list-style: none;
}

nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

header .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav .right-side div {
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

.av {
    width: 50px;
}

.for-mobile {
    display: flex;
    width: 100%;
    align-items: center;
}

/* header nav .right-side .cart img{
    width: 35px;
} */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 2rem !important;
    /* width: 80%; */
    margin: 0 auto;
}

main .left .main-img img {
    width: 100%;
    border-radius: 0.5rem;

}

main .left .second-img {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

main .left .second-img img {
    width: 100px;
    border-radius: 0.5rem;
}

.left {
    margin-left: 4rem;
}

.gray {
    opacity: 0.5;
    border: 3px solid var(--Orange);
}

.right {
    margin-left: 4rem;
    margin-right: 1rem;
    padding-top: 3rem;
}

h4 {
    color: var(--Orange);
}

h1 {
    font-weight: bold;
    width: 60%;
}

p {
    color: var(--Dark-grayish-blue);
    margin-bottom: 2rem;
    width: 60%;
}

.discont {
    color: var(--Grayish-blue);
    text-decoration: line-through;
    font-size: 18px;
}

.span1 {
    font-weight: bold;
    font-size: 2rem;
}

.span2 {
    margin-left: 2rem;
    background-color: var(--Pale-orange);
    padding: 0.5rem;
    color: var(--Orange);
    border-radius: 0.5rem;
    font-weight: bold;
}

.offer {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 55%;
    margin-left: 1rem;
}

.spener {
    background-color: var(--Light-grayish-blue);
    font-size: 2rem;
    border-radius: 0.5rem;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    width: 35%;
    justify-content: center;

}

.spener img {
    width: 50%;

}

.spener div {
    padding: 3px;
}

.mins {
    margin-bottom: 5px;
}

button {
    color: var(--Light-grayish-blue);
    border: none;
    background-color: var(--Orange);
    font-size: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    width: 60%;
    box-shadow: 0 4px 8px 0 var(--Orange), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





@media (max-width:767px) {
    .for-mobile {
        position: relative;
    }

    nav ul {
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 300px;
        background-color: white;
        position: absolute;
        left: -50px;
        top: 40px;
        margin-top: 1rem;
        justify-content: flex-start;
    }

    .gray {
        z-index: -1;
    }

    nav ul li {
        padding: 0.5rem 0;
    }

    header .menu {
        display: block;
        margin: 1rem;
    }

    header .menu:hover+.for-mobile nav ul {
        display: flex;
    }

    header .for-mobile {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    header nav {
        width: 30%;
    }

    .center {
        display: flex;
        flex-direction: column;
    }

    .second-img {
        visibility: hidden;
        position: absolute;
    }

    .right {
        width: 100%;
        margin-left: 3rem;
        margin-right: 1rem;
        padding-top: 1rem;
    }

    h1 {
        font-weight: bold;
        margin-left: 1rem;
        font-size: 2rem;
    }
    p{
        margin-left: 1rem;
    }
    .span1{
        margin-left: 1rem;
    }

    .center {
        width: 100%;
    }

    .left {
        margin: 0;
    }
   .discont{
    display: inline;
    margin-left: 4rem;
   }
   .offer{
    display: block;
    margin-left: 1rem;
    width: 100%;
   }
   .spener{
        width: 75%;
    margin-bottom: 1rem;
    
   }
   button{
    width: 75%;
    padding: 1rem;
    margin-left: 0;
   }
   .spener img {
    width: 30%;
}
   
}